#dealPane{
	-fx-background-image: url("/Backgrounds/table.jpg");
	-fx-background-position: center center;
	-fx-background-size: cover;
}
#dealCardsB{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
     -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
    -fx-font-size: 13;
}
#winningsTxt{
	-fx-font-size: 15;
	-fx-font-family: verdana;
	-fx-fill: lightskyblue;
}

#errorDealTxt{
	-fx-font-size: 13;
	-fx-font-family: verdana;
	-fx-stroke: yellow;
	-fx-stroke-width: 1;
}
