#statePane{
	-fx-background-image: url("/Backgrounds/main.jpg");
	-fx-background-position: center center;
	-fx-background-size: cover;
}
.button{
	-fx-background-color:
        linear-gradient(white, yellow),
        radial-gradient(center 50% -40%, radius 200%, white 15%, yellow 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    
 	-fx-text-fill: black;
	-fx-background-radius: 80;
	-fx-background-position: center center;
}

#clientsConnectedTxt{
	-fx-font-size: 30;
	-fx-font-family: verdana;
	-fx-stroke: lightskyblue;
	-fx-stroke-width: 1;
}